.goal-container{
    display: flex;
    width:30%;
    height:100vh;
    justify-content: center;
    align-content: center;
}
.goal-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
    margin-left:-80px;
}
.title{
    margin:0px;
    margin-bottom: 7px;
    margin-left: 4px;
    color: rgb(66, 58, 58);
   align-self: flex-start;
}
.calories-goal {
    display:flex;
    flex-direction: column;
    width:300px;
    height: 350px;
    padding:10px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 230, 31, 0.9);
    color: white;
}
.goal-title{
    margin-top: 50px;
    font-size: 30px;
}
.goal-info{
    margin-top:-20px;
    font-size: 45px;
}
.new-goal-btn {
    padding: 7px 10px;
    align-self: flex-end;
    justify-self: flex-end;
    width:100px;
    margin-top: 5px;
    border:none;
    outline:none;
    border-radius: 10px;
    background-color: beige;
}
.new-goal-btn:hover{
    cursor:pointer;
    background-color: rgb(27, 197, 248);
    transition: 250ms ease-out;
}
.remaining-calories{
    display:flex;
    flex-direction: column;
    width:300px;
    height: 350px;
    padding:10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 164, 34, 0.9);
    color: white;
}
